#video-background {
    position: absolute;
    top: 0; /* Adjust top position to start from the top */
    left: 0; /* Adjust left position to start from the left */
    width: 100vw; /* Use 100vw to cover the entire viewport width */
    height: 100vh; /* Use 100vh to cover the entire viewport height */
    object-fit: cover;
    z-index: -1; /* Set z-index to a negative value to place it behind other elements */
}

body {
    margin-top: 20px;
    font-family: 'IBMPlexMono-Bold', monospace;
    overflow: hidden;
    background-color: black;
    padding: 0;
}

header {
    margin-left: 0;
    text-align: center;
    color: #fff;
    z-index: 9;
    padding: 0;
}

.nav ul {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.nav li {
    font-size: 20px;
}

.nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav a:hover {
    color: lightgray;
}


/* Style the icon */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}


.card {
    width: 90vw;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.8); /* White background for cards */
    margin: auto;
    margin-top: 5vh;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for cards */
    touch-action: pan-y; /* Enables swiping on touch devices */
}

.card h1 {
    width: 90vw;
    text-align: center;
    color: #333; /* Dark gray for headings */
}

.card img {
    width: 90vw;
    margin-left: 0vw;
}

.card p {
    width: 75vw;
    margin-left: 2.5vw;
    text-align: center;
    color: #555; /* Slightly darker gray for text within cards */
}

.cardDescription {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardDescription span {
    margin: 0 10px; /* Adjust the margin as needed */
}
/* Add your existing styles here */

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#out_of_products {
    text-align: center; /* Center the text horizontally */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 100vh; /* Center within the viewport's height */
    color: white;
    font-size: 54px;
}