/* Reset default margin and padding for the body */
body {
    margin: 0;
    font-family: 'IBMPlexMono-Bold', monospace;
    overflow: hidden;
    background-color: black;
    padding: 0;
}
/* Add styles for the header */
/* Update the header styles to center the text */
/* Update the header styles to position the icon in the top left corner */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0) 100%);
    text-align: center;
    color: #fff;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Add padding to adjust the height of the header and create space on the left */
}

/* Center the text within the header */
.nav ul {
    list-style: none;
    display: flex;
    gap: 10px; /* Adjust the gap between icon and text */
    align-items: center; /* Vertically center the items within the list */
    padding: 0; /* Remove the padding on the <ul> */
}

.nav li {
    font-size: 16px;
}

.nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav a:hover {
    color: lightgray;
}

/* Style the icon */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

.material-symbols-outlined:before {
    content: 'account_circle'; /* Display the icon */
    position: absolute;
}



.logo img {
    width: 10px; /* Adjust the logo size as needed */
}

/* Style the video background */
#video-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

/* Style the content on top of the video */
.content {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 7;
    text-shadow: 8px 12px 15px black;
}

.content2 {
    position: absolute;
    top: 60%;
    left: 50%;
    font-size: 8px;
    color: white;
    transform: translateX(-50%);
    width: 85%;
    text-align: center;
    z-index: 7;
    text-shadow: 1px 1px 2px black;
}




/* Additional styles for content (customize as needed) */
.content h1 {
    font-size: 18vw;
    font-weight: bold;
}

@media screen and (min-width: 1200px) {
    .content h1 {
        font-size: 18vw; /* Set the maximum font size for screens wider than 1200px */
    }
}

.content p {
    font-size: 18px;
}

/* Add space-themed styling to the dropdown button */
.dropdown {
    position: relative;
    display: inline-block;
    margin: 10px;
    z-index: 15;
}

.dropbtn {
    color: white; /* White text color */
    background: transparent; /* Transparent background */
    padding: 18px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    z-index: 2;
}

/* Add space-themed styling to the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1f1f1f; /* Dark gray background */
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 4; /* Set a higher z-index to appear in front of the button and image */
}

.dropdown-content a {
    color: #00aaff; /* Light blue text color */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #333; /* Darker gray on hover */
}

/* Display the dropdown content when hovering over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Image container and image styles */
#image-container {
    position: absolute;
    top: 36.5%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 5; /* Set a higher z-index for the image */
}

#image-container img {
    width: 150%;
    height: 150%;
}

.bottom-text {
    position: absolute;
    bottom: 15px; /* Adjust the distance from the bottom as needed */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 25px;
    color: #FFFFFF;
    font-family: 'IBMPlexMono-Medium', sans-serif;
    z-index: 10; /* Set a higher z-index for the bottom text */
}

.create-account-button {
    position: absolute;
    top: 70%; /* Adjust the position as needed to place it 3/4 of the way down */
    left: 41.5%;
    font-family: 'IBMPlexMono-Bold', monospace;
    transform: translateX(-50%);
    z-index: 8; /* Set a higher z-index to ensure it's on top of other elements */
}

.create-account-button button {
    background: linear-gradient(to bottom right, #f14f4f,rgb(220, 53, 220));
    color: #fff;
    font-family: 'IBMPlexMono-Bold', monospace;
    padding: 6% 45%; /* Percentage-based padding for scaling */
    font-size: 128%; /* Percentage-based font size for scaling */
    border-radius: 25px;
    cursor: pointer;
}
